@charset "UTF-8";

@font-face {
  font-family: "brute";
  src:url("../fonts/brute.eot");
  src:url("../fonts/brute.eot?#iefix") format("embedded-opentype"),
  url("../fonts/brute.woff") format("woff"),
  url("../fonts/brute.ttf") format("truetype"),
  url("../fonts/brute.svg#brute") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "brute" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="br-"]:before,
[class*=" br-"]:before {
  font-family: "brute" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.br-up:before {
  content: "\63";
}
.br-down:before {
  content: "\64";
}
.br-search:before {
  content: "\65";
}
.br-left:before {
  content: "\61";
}
.br-right:before {
  content: "\62";
}
.br-twitter:before {
  content: "\66";
}
.br-facebook:before {
  content: "\67";
}
.br-instagram:before {
  content: "\68";
}
.br-vk:before {
  content: "\69";
}
