  h1 {
    text-align: center;
    display: block;
    font-size: 25px;
  }

  .for-print {
    text-align: center;
    display: block;
    font-size: 22px;
    font-weight: 600;
    margin: 25px 0;
  }

  .text {
    font-size: 16px;
    .string {
      border-bottom: 1px solid #eee;
      padding: 5px 0;
      display: flex;
      min-height: 30px;
      &.title {
        text-align: center;
        font-weight: 600;
        font-size: 20px;
      }
      .original {
        width: 50%;
        padding: 0 10px;
        border-right: 1px solid #eee;
      }
      .translate {
        width: 50%;
        padding: 0 10px;
      }
      .translate {
        font-weight: 600;
      }
    }
  }