.filters-section {
  flex-basis: 100%;

  @include media-breakpoint-up(xl) {
    display: flex;
  }

  .search {
    display: flex;
    margin: .5rem 1rem;

    @include media-breakpoint-up(sm) {
      margin: .5rem 3rem;
    }

    @include media-breakpoint-up(xl) {
      align-items: center;
      height: 100%;
      margin: 0;
    }

    .selecet2-selection {
      border-radius: 0;
      border: 1px solid #ddd;
      padding: 1rem 1rem;
      width: calc(100% - 30px);
      height: 40px;
      font-size: 1.5rem;
    }

    button {
      background-color: #5ab4ce;
      color: #fff;
      width: 75px;
      cursor: pointer;
      height: 40px;
    }
  }

  .filter {
    height: 95px;
    overflow: hidden;

    &.active {
      height: auto;
      overflow: visible;
    }

    @include media-breakpoint-up(sm) {
      height: auto;
      overflow: auto;
    }

    p {
      font-size: 1.7rem;
      width: 100%;
      background-color: #6fb0dd;
      padding: .5rem;
      text-align: center;
      color: #fff;

      @include media-breakpoint-up(sm) {
        font-size: 2rem;
      }
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      background-color: #eee;
      padding: 1rem .5rem;
      justify-content: center;
    }

    a {
      font-size: 2rem;
      border: 1px solid #ddd;
      width: 40px;
      height: 40px;
      margin: .2rem;
      justify-content: center;
      align-items: center;
      display: flex;
      color: #5ab4ce;
      background-color: #fff;

      &:hover {
        @include media-breakpoint-up(xl) {
          border: 1px solid #838383;
        }
      }
    }
  }

  .open-filter {
    background-color: #8babb5;
    padding: 1rem 0;
    display: flex;
    font-size: 1.8rem;
    color: #fff;
    cursor: pointer;

    span {
      margin: auto;
      display: flex;
    }

    i {
      font-size: 1.35rem;
      display: flex;
      margin: auto;
    }

    @include media-breakpoint-up(sm) {
      display: none;
    }
  }
}