@import "main";
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/tooltip";

.content {
  display: flex;
  flex-direction: column;
}

.song {
  margin: 3rem 0 0;

  > h1 {
    padding: 0 .5rem;

    @include media-breakpoint-up(md) {
      font-size: 3rem;
    }
  }

  > p {
    font-size: 1.7rem;
    margin: 3rem 0 5rem;
    display: none;
    padding: 0 1rem;

    @include media-breakpoint-up(xl) {
      display: block;
    }
  }

  .text {
    font-size: 1.3rem;
    margin: 1rem 0 2rem;

    @media (min-width: 400px) {
      font-size: 1.5rem;
    }

    @include media-breakpoint-up(md) {
      font-size: 1.65rem;
    }

    @include media-breakpoint-up(xxl) {
      margin: 1rem 0 3rem;
    }

    .string {
      border-bottom: 1px solid #eee;
      padding: .5rem 0;
      min-height: 30px;

      &.title {
        text-align: center;
        font-weight: 600;

        @include media-breakpoint-up(xl) {
          font-size: 2rem;
        }

        .original, .translate {
          padding: 1rem;
        }

        &:hover {
          background-color: transparent;
        }
      }

      @media (min-width: 320px) {
        display: flex;
      }

      &:hover {
        background-color: #f7f7f7;
      }

      .original {
        width: 100%;

        @media (min-width: 320px) {
          width: 50%;
          padding: 0 1rem;
          border-right: 1px solid #eee;
        }
      }

      .translate {
        width: 100%;

        @media (min-width: 320px) {
          width: 50%;
          padding: 0 1rem;
        }
      }

      .translate {
        font-weight: 600;
      }
    }
  }

  .btns-panel {
    display: flex;
    margin: 1rem 0;

    .left, .right {
      width: 50%;

      button {
        cursor: pointer;
        width: 40px;
        height: 40px;
        border: 1px solid #546e7f;
        border-radius: 50%;
        background-color: transparent;
        transition: background-color .2s;

        &:hover {
          background-color: #f9f9f9;
        }

        &:active {
          background-color: rgba(82, 147, 197, .3);
        }
      }

      i {
        color: #546e7f;
        font-size: 1.6rem;
        line-height: 1;
      }
    }

    .print {
      display: none;

      @include media-breakpoint-up(lg) {
        display: inline-block;
      }
    }

  }

  .for-print {
    display: none;
  }

}

.author {
  display: none;
  flex-grow: 1;
  max-width: 1300px;
  position: relative;
  margin: 0 auto 2rem;
  width: 100%;

  @include media-breakpoint-up(xxl) {
    display: flex;
  }

  p {
    font-size: 1.6rem;
    padding: 0 1rem;
    margin: auto auto 0;

    span {
      display: block;
      text-align: right;
    }
  }
}

.tooltip {
  font-size: 1.35rem;
}