<?xml version="1.0" encoding="utf-8"?>
<uSync Name="Startup" DateTime="10/12/2017 2:52 PM">
  <Actions>
    <Action Change="Delete" Success="false" Message="Not found" Name="Song text - Content grid" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Approved Color" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Checkbox list" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Date Picker" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Date Picker with time" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Dropdown" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Dropdown multiple" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Image Cropper" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Label" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="List View - Content" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="List View - Media" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="List View - Members" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="MainPageContentPicker" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Media Picker" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Member Picker" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Multiple Media Picker" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Musician Cropper" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Numeric" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Radiobox" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Related Links" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Richtext editor" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="SongText - Content grid" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Tags" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Textarea" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Textstring" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Translator - Related links" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="True/false" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Upload" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="MasterLayout" Type="ITemplate" />
    <Action Change="NoChange" Success="true" Message="" Name="Main Page" Type="ITemplate" />
    <Action Change="NoChange" Success="true" Message="" Name="Musician" Type="ITemplate" />
    <Action Change="NoChange" Success="true" Message="" Name="Section" Type="ITemplate" />
    <Action Change="NoChange" Success="true" Message="" Name="Send" Type="ITemplate" />
    <Action Change="NoChange" Success="true" Message="" Name="Song" Type="ITemplate" />
    <Action Change="NoChange" Success="true" Message="" Name="catalog" Type="IContentType" />
    <Action Change="Import" Success="true" Message="" Name="Main Page" Type="IContentType" />
    <Action Change="NoChange" Success="true" Message="" Name="musician" Type="IContentType" />
    <Action Change="NoChange" Success="true" Message="" Name="navigation" Type="IContentType" />
    <Action Change="NoChange" Success="true" Message="" Name="section" Type="IContentType" />
    <Action Change="NoChange" Success="true" Message="" Name="send" Type="IContentType" />
    <Action Change="NoChange" Success="true" Message="" Name="sEO" Type="IContentType" />
    <Action Change="NoChange" Success="true" Message="" Name="socialLinks" Type="IContentType" />
    <Action Change="NoChange" Success="true" Message="" Name="song" Type="IContentType" />
    <Action Change="NoChange" Success="true" Message="" Name="File" Type="IMediaType" />
    <Action Change="NoChange" Success="true" Message="" Name="Folder" Type="IMediaType" />
    <Action Change="NoChange" Success="true" Message="" Name="Image" Type="IMediaType" />
    <Action Change="NoChange" Success="true" Message="" Name="en-US" Type="ILanguage" />
  </Actions>
</uSync>