<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT send ANY>
<!ATTLIST send id ID #REQUIRED>
<!ELEMENT catalog ANY>
<!ATTLIST catalog id ID #REQUIRED>
<!ELEMENT song ANY>
<!ATTLIST song id ID #REQUIRED>
<!ELEMENT musician ANY>
<!ATTLIST musician id ID #REQUIRED>
<!ELEMENT section ANY>
<!ATTLIST section id ID #REQUIRED>
<!ELEMENT mainPage ANY>
<!ATTLIST mainPage id ID #REQUIRED>
]>
<root id="-1">
  <mainPage id="1056" key="ab697c12-6713-44da-b300-b52f52a2a465" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-09-28T09:24:22" updateDate="2017-09-28T09:24:22" nodeName="Main" urlName="main" path="-1,1056" isDoc="" nodeType="1053" creatorName="admin" writerName="admin" writerID="0" template="1052" nodeTypeAlias="mainPage">
    <catalog id="1067" key="931f3211-30f8-47e5-8fd2-ef7bcee19789" parentID="1056" level="2" creatorID="0" sortOrder="1" createDate="2017-09-28T09:34:59" updateDate="2017-09-28T09:34:59" nodeName="Catalog" urlName="catalog" path="-1,1056,1067" isDoc="" nodeType="1066" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="catalog">
      <section id="1061" key="f94a6f1b-d87b-42c1-bcb1-982c8c9c0983" parentID="1067" level="3" creatorID="0" sortOrder="1" createDate="2017-09-28T09:31:59" updateDate="2017-09-28T09:35:10" nodeName="0" urlName="0" path="-1,1056,1067,1061" isDoc="" nodeType="1058" creatorName="admin" writerName="admin" writerID="0" template="1057" nodeTypeAlias="section">
        <navigationName><![CDATA[0]]></navigationName>
        <musician id="1062" key="4635c78a-43f3-4b9a-8b04-2a9bb523f47e" parentID="1061" level="4" creatorID="0" sortOrder="1" createDate="2017-09-28T09:32:11" updateDate="2017-09-28T09:35:10" nodeName="HIM" urlName="him" path="-1,1056,1067,1061,1062" isDoc="" nodeType="1060" creatorName="admin" writerName="admin" writerID="0" template="1059" nodeTypeAlias="musician">
          <navigationName><![CDATA[HIM]]></navigationName>
          <song id="1065" key="573c98a5-034a-493c-aa8e-a5be00d6e37c" parentID="1062" level="5" creatorID="0" sortOrder="1" createDate="2017-09-28T09:33:13" updateDate="2017-09-28T09:35:10" nodeName="Rockstar" urlName="rockstar" path="-1,1056,1067,1061,1062,1065" isDoc="" nodeType="1064" creatorName="admin" writerName="admin" writerID="0" template="1063" nodeTypeAlias="song">
            <navigationName><![CDATA[Rockstar]]></navigationName>
          </song>
        </musician>
      </section>
    </catalog>
    <send id="1070" key="aa33f3af-e0c8-4705-b9a8-6c21d65c4c14" parentID="1056" level="2" creatorID="0" sortOrder="2" createDate="2017-09-28T09:36:33" updateDate="2017-09-28T09:36:33" nodeName="Send" urlName="send" path="-1,1056,1070" isDoc="" nodeType="1069" creatorName="admin" writerName="admin" writerID="0" template="1068" nodeTypeAlias="send" />
  </mainPage>
</root>