@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Musician>
@using BruteApp.Helpers
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "MasterLayout.cshtml";
}

@section styles {
    <link href="~/css/musician.css" rel="stylesheet" />
}

<article>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="filters-section">
                    <div class="col-xl-5">
                        <div class="search">
                            <input placeholder="Введите название группы"/>
                            <button>
                                <i class="br-search"></i>
                            </button>
                        </div>
                    </div>
                    @CreateCatlogMenu()
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="musician">
                        <h1>Перевод песен группы <strong>HIM</strong></h1>
                        <p>
                            Переводы песен группы HIM осуществлён с адаптацией на русский язык.
                            Учитываются метафоры и смысл каждой строки - соответственно то, что хочет донести до слушателя автор песни.
                        </p>
                        <a href="javascript:void(0)">Перевод песен HIM: перевод песни Rockstar, текст песни</a>
                        <a href="javascript:void(0)">Перевод песен HIM: перевод песни Join me in death, текст песни</a>
                        <a href="javascript:void(0)">Перевод песен HIM: перевод песни Rockstar, текст песни</a>
                        <a href="javascript:void(0)">Перевод песен HIM: перевод песни Rockstar, текст песни</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="pagination">
            <a href="javascript:void(0)">
                <i class="br-left"></i>
                <span>prev</span>
            </a>
            <div class="pages">
                <a class="active" href="javascript:void(0)">1</a>
                <a href="javascript:void(0)">2</a>
                <a href="javascript:void(0)">3</a>
                <a href="javascript:void(0)">...</a>
                <a href="javascript:void(0)">20</a>
            </div>
            <a href="javascript:void(0)">
                <i class="br-right"></i>
                <span>next</span>
            </a>
        </div>
    </div>
</article>

@section scripts {
    <script src="~/scripts/main.js"></script>
}

@helper CreateCatlogMenu()
{
var catalog = (Catalog)Umbraco.TypedContentSingleAtXPath(string.Format("//{0}", AttributeHelper.GetTypeAlias<Catalog>()));

    <div class="col-xl-7 no-padding">
        <div class="filter">
            <p>Выберите исполнителя по первой букве (цифре):</p>
            <ul>
                @foreach (var item in catalog.Children)
                {
                    if ((string) item.GetPropertyValue("navigationName") != string.Empty)
                    {
                        <li>
                            <a href="@item.Url">@item.GetPropertyValue("navigationName")</a>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
}